{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <title>Tela de Login</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form class="form-signin" action="{{loc}}" action="/create/" method="POST">
                <h1>Crie sua conta</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                    {% csrf_token %}
                    <div class="{{errorclass}}" role="alert">{{error}}</div>
                <span>ou use seu e-mail para cadastro</span>
                <label for="inputEmail" class="sr-only">Nome: </label>
                <input type="text" id="inputname" class="form-control" placeholder="Nome" required="" autofocus="" name="name">
                <label for="inputEmail" class="sr-only">Email:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" name="email">
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" name="password">
                <label for="inputPassword" class="sr-only">Confirmar senha:</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Confirmar Senha" required="" name="password1">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Inscrever-se!</button>

            </form>
        </div>
        <div class="form-container sign-in">
            <form class="form-signin" action="{{loc}}" method="POST">
                    {% csrf_token %}
                    <div class="{{errorclass}}" role="alert">{{error}}</div>
                <h1>Entre</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>ou use sua senha de e-mail</span>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" name="email">
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" name="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                <a href="#">Esqueceu sua senha?</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Seja bem vindo(a)!</h1>
                    <p>Insira seus dados pessoais para usar todos os recursos do site</p>
                    <button class="hidden" id="login">Entrar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bem vindo de volta!</h1>
                    <p>Registre-se com seus dados pessoais para usar todos os recursos do site</p>
                    <button class="hidden" id="register">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js\script.js' %}"></script>
</body>

</html>
