<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href={%static "assets/bootstrap/css/bootstrap.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/Montserrat.css"%}>
    <link rel="stylesheet" href={%static "assets/css/bs-theme-overrides.css"%}>
    <link rel="stylesheet" href={%static "assets/css/baguetteBox.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/vanilla-zoom.min.css"%}>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar" style="background: #ffec97;">
        <div class="container"><img width="50" height="50" src={%static "assets/img/_f1e05d43-10c5-4bd9-b41d-9d0cd90f39ca.jpeg"%}><a class="navbar-brand logo" href="index.html"><span style="color: rgb(59, 120, 20);">Conexão Doadora</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-toolbar"></div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Catalago.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Carrinho.html">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="../profile.html">Perfil</a></li>
                </ul>
            </div><button class="btn btn-primary" type="button">Sair</button>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="color: #3b7814;"><span style="color: rgb(59, 120, 20);">Seu Carrinho</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="content">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                <div class="product"></div>
                                <div class="product"></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="bg-body-tertiary summary">
                                <h3>Súmario</h3><button class="btn btn-primary btn-lg d-block w-100" type="button">FINALIZAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src={%static "assets/bootstrap/js/bootstrap.min.js"%}></script>
    <script src={%static "assets/js/bs-init.js"%}></script>
    <script src={%static "assets/js/baguetteBox.min.js"%}></script>
    <script src={%static "assets/js/vanilla-zoom.js"%}></script>
    <script src={%static "assets/js/theme.js"%}></script>
</body>

</html>