<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catalog - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="assets/css/Montserrat.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar" style="background: #ffec97;">
        <div class="container"><img width="50" height="50" src="assets/img/_f1e05d43-10c5-4bd9-b41d-9d0cd90f39ca.jpeg"><a class="navbar-brand logo" href="index.html"><span style="color: rgb(59, 120, 20);">Conexão Doadora</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-toolbar"></div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Catalago.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Carrinho.html">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="../profile.html">Perfil</a></li>
                </ul>
            </div><button class="btn btn-primary" type="button">Sair</button>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><span style="color: rgb(59, 120, 20);">Produtos disponíveis</span></h2>
                    <p><br> Junte-se a nós nessa missão de levar alimento e esperança a quem mais precisa.<br><br></p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-none d-md-block">
                                <div class="filters">
                                    <div data-reflow-type="product-search" data-reflow-placeholder="Pesquisar"></div>
                                    <div class="filter-item">
                                        <h3>Categories</h3>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Frutas e Verduras</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Mercearia</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Higiene e limpeza</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Roupas e calçados</label></div>
                                    </div>
                                    <div class="filter-item">
                                        <h3></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-bs-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
                                <div class="collapse" id="filters">
                                    <div class="filters">
                                        <div data-reflow-type="product-search" data-reflow-placeholder="Pesquisar"></div>
                                        <div class="filter-item">
                                            <h3>Categories</h3>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Frutas e Verduras</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Mercearia</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Higiene e limpeza</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Roupas e calçados</label></div>
                                        </div>
                                        <div class="filter-item">
                                            <h3></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="products">
                                <div class="row g-0">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="border-light-subtle clean-product-item">
                                            <div class="image"><a href="Produto/Banana.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/batata-crua-1508077604971_v2_450x450.jpg"></a></div>
                                            <div class="product-name"><a href="Produto/Banana.html">Batata Inglesa</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1Kg</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Massa.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/petiscos-de-macarrao-parafuso_l_thumb.jpg" width="195" height="110"></a></div>
                                            <div class="product-name"><a href="Produto/Massa.html">Massa Parafuso</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>450g</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Maca.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/fresh-juicy-organic-apple-white-generative-ai.jpg" width="200" height="115"></a></div>
                                            <div class="product-name"><a href="Produto/Maca.html">Maçã</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1kg</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Sapato.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/pair-trainers.jpg"></a></div>
                                            <div class="product-name"><a href="Produto/Sapato.html">Tenis / Sapatos (modelos variados)</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>34 /35</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Vestido.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/graphic-woman-dress-trendy-design-white-background.jpg"></a></div>
                                            <div class="product-name"><a href="Produto/Vestido.html">Vestidos (modelos variados)</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>P | M | G | GG</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Arroz_Branco.html"><img class="img-fluid d-block mx-auto" src="assets/img/tech/sack-rice-with-rice-wooden-spoon-rice-plant.jpg" width="195" height="130"></a></div>
                                            <div class="product-name"><a href="Produto/Arroz_Branco.html">Arroz Branco</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1KG</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Banana.html"><img class="img-fluid d-block mx-auto" alt="banana, fruit, food" src="assets/img/g131fc87b7a839a8b7705be8fb04212caffe3b00bae407a0c7aa6910e6647b21dee1a9da97b445a7f6d33d3a2eef16469_640.png" width="202" height="115"></a></div>
                                            <div class="product-name"><a href="Produto/Banana.html">Banana (Tipos variados)</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1KG</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Cafe.html"><img class="img-fluid d-block mx-auto" alt="coffee, coffee beans, cup" src="assets/img/g5764b36ac8a44e9a1d7c0e8fe2c3901ef47342e5a5fbe712839e758a91ca6f56fc0198ef3bdd4d3eee64df5bc93500f5ed67d90e8d616c8e3a6b636f8e011eae_640.jpg" width="190" height="136"></a></div>
                                            <div class="product-name"><a href="Produto/Cafe.html">Café</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>500g</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Agua_Sanitaria.html"><img class="img-fluid d-block mx-auto" alt="objects, bottle, plastic" src="assets/img/ge63596233c7562fb8e4974d415ce2206b9ec9e0d98694263b5a9918953619008c11eafa293824f0e1db608ed90f979c5bcc7410aba7343045f5dec2ad604557c_640.jpg"></a><a href="#"></a></div>
                                            <div class="product-name"><a href="Produto/Agua_Sanitaria.html">Agua Sanitária</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1L</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="Catalago.html"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active link-primary" style="border-color: #3b7814;background: #3b7814;"><a class="page-link">1</a></li>
                                        <li class="page-item"><a class="page-link" href="Catalago-2.html">2</a></li>
                                        <li class="page-item"><a class="page-link" aria-label="Next" href="Catalago-2.html"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>