<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catalog - Brand</title>
    <link rel="stylesheet" href={%static "assets/bootstrap/css/bootstrap.min.css"%}>
    <link rel="stylesheet" href={%static "https://cdn.reflowhq.com/v2/toolkit.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/Montserrat.css"%}>
    <link rel="stylesheet" href={%static "assets/fonts/simple-line-icons.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/bs-theme-overrides.css"%}>
    <link rel="stylesheet" href={%static "assets/css/baguetteBox.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/vanilla-zoom.min.css"%}>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar" style="background: #ffec97;">
        <div class="container"><img width="50" height="50" src={%static "assets/img/_f1e05d43-10c5-4bd9-b41d-9d0cd90f39ca.jpeg"%}><a class="navbar-brand logo" href="index.html"><span style="color: rgb(59, 120, 20);">Conexão Doadora</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-toolbar"></div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Catalago.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Carrinho.html">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="../profile.html">Perfil</a></li>
                </ul>
            </div><button class="btn btn-primary" type="button">Sair</button>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><span style="color: rgb(59, 120, 20);">Produtos disponíveis</span></h2>
                    <p><br> Junte-se a nós nessa missão de levar alimento e esperança a quem mais precisa.<br><br></p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-none d-md-block">
                                <div class="filters">
                                    <div data-reflow-type="product-search" data-reflow-placeholder="Pesquisar"></div>
                                    <div class="filter-item">
                                        <h3>Categories</h3>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Frutas e Verduras</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Mercearia</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Higiene e limpeza</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Roupas e calçados</label></div>
                                    </div>
                                    <div class="filter-item">
                                        <h3></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-bs-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
                                <div class="collapse" id="filters">
                                    <div class="filters">
                                        <div data-reflow-type="product-search" data-reflow-placeholder="Pesquisar"></div>
                                        <div class="filter-item">
                                            <h3>Categories</h3>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Frutas e Verduras</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Mercearia</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Higiene e limpeza</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Roupas e calçados</label></div>
                                        </div>
                                        <div class="filter-item">
                                            <h3></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="products">
                                <div class="row g-0">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="border-light-subtle clean-product-item">
                                            <div class="image"><a href="Produto/Laranja.html"><img class="img-fluid d-block mx-auto" alt="Orange Fruit" src="assets/img/background-bitter-breakfast-bright-161559-1.jpeg"></a></div>
                                            <div class="product-name"><a href="Produto/Laranja.html">Laranja</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1Kg</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Acucar.html"><img class="img-fluid d-block mx-auto" alt="Close-Up Photo of Sugar Cubes in Glass Jar" src="assets/img/pexels-photo-2523650-1.jpeg" width="220" height="124"></a></div>
                                            <div class="product-name"><a href="Produto/Acucar.html">Açucar</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1KG</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Carne.html"><img class="img-fluid d-block mx-auto" alt="Raw Beef Meat on White Background" src="assets/img/pexels-photo-112781-1.jpeg"></a></div>
                                            <div class="product-name"><a href="Produto/Carne.html">Carne Bovina</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1kg</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/PapelHi.html"><img class="img-fluid d-block mx-auto" alt="Toilet Paper Rolls on the Floor" src="assets/img/pexels-photo-3958186-1.jpeg" width="212" height="141"></a></div>
                                            <div class="product-name"><a href="Produto/PapelHi.html">Papel Higienico</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>10(Rolos)</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Camisetas.html"><img class="img-fluid d-block mx-auto" alt="white crew neck t-shirt" src="assets/img/photo-1581655353564-df123a1eb820.jpg"></a></div>
                                            <div class="product-name"><a href="Produto/Camisetas.html">Camisetas</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>P | M | G | GG</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="Produto/Leite.html"><img class="img-fluid d-block mx-auto" alt="white liquid in clear drinking glass" src="assets/img/photo-1596151163116-98a5033814c2.jpg" width="182" height="121"></a></div>
                                            <div class="product-name"><a href="Produto/Leite.html">Leite</a></div>
                                            <div class="about">
                                                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                                <div class="price">
                                                    <h3>1L</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" aria-label="Previous" href="Catalago.html"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item"><a class="page-link" href="Catalago.html">1</a></li>
                                        <li class="page-item active" style="background: #3b7814;"><a class="page-link">2</a></li>
                                        <li class="page-item disabled"><a class="page-link" aria-label="Next" href="Catalago-2.html"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src={%static "assets/bootstrap/js/bootstrap.min.js"%}></script>
    <script src={%static "https://cdn.reflowhq.com/v2/toolkit.min.js"%}></script>
    <script src={%static "assets/js/bs-init.js"%}></script>
    <script src={%static "assets/js/baguetteBox.min.js"%}></script>
    <script src={%static "assets/js/vanilla-zoom.js"%}></script>
    <script src={%static "assets/js/theme.js"%}></script>
</body>

</html>