<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Payment - Brand</title>
    <link rel="stylesheet" href={%static "assets/bootstrap/css/bootstrap.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/Montserrat.css"%}>
    <link rel="stylesheet" href={%static "assets/css/bs-theme-overrides.css"%}>
    <link rel="stylesheet" href={%static "assets/css/baguetteBox.min.css"%}>
    <link rel="stylesheet" href={%static "assets/css/vanilla-zoom.min.css"%}>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar" style="background: #ffec97;">
        <div class="container"><img width="50" height="50" src={%static "assets/img/_f1e05d43-10c5-4bd9-b41d-9d0cd90f39ca.jpeg"%}><a class="navbar-brand logo" href="index.html"><span style="color: rgb(59, 120, 20);">Conexão Doadora</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-toolbar"></div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Catalago.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Carrinho.html">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="../profile.html">Perfil</a></li>
                </ul>
            </div><button class="btn btn-primary" type="button">Sair</button>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Payment</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form>
                    <div class="products">
                        <h3 class="title">Checkout</h3>
                        <div class="item"><span class="price">$200</span>
                            <p class="item-name">Product 1</p>
                            <p class="item-description">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="item"><span class="price">$120</span>
                            <p class="item-name">Product 2</p>
                            <p class="item-description">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="total"><span>Total</span><span class="price">$320</span></div>
                    </div>
                    <div class="card-details">
                        <h3 class="title">Credit Card Details</h3>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="mb-3"><label class="form-label" for="card_holder">Card Holder</label><input class="form-control" type="text" id="card_holder" placeholder="Card Holder" name="card_holder" data-bs-theme="light"></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="mb-3"><label class="form-label">Expiration date</label>
                                    <div class="input-group" data-bs-theme="light"><input class="form-control" type="text" placeholder="MM" name="expiration_month"><input class="form-control" type="text" placeholder="YY" name="expiration_year"></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="mb-3"><label class="form-label" for="card_number">Card Number</label><input class="form-control" type="text" id="card_number" placeholder="Card Number" name="card_number" data-bs-theme="light"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3"><label class="form-label" for="cvc">CVC</label><input class="form-control" type="text" id="cvc" placeholder="CVC" name="cvc" data-bs-theme="light"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Proceed</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src={%static "assets/bootstrap/js/bootstrap.min.js"%}></script>
    <script src={%static "assets/js/bs-init.js"%}></script>
    <script src={%static "assets/js/baguetteBox.min.js"%}></script>
    <script src={%static "assets/js/vanilla-zoom.js"%}></script>
    <script src={%static "assets/js/theme.js"%}></script>
</body>

</html>