<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Montserrat.css">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar" style="background: #ffec97;">
        <div class="container"><img width="50" height="50" src="assets/img/_f1e05d43-10c5-4bd9-b41d-9d0cd90f39ca.jpeg"><a class="navbar-brand logo" href="index.html"><span style="color: rgb(59, 120, 20);">Conexão Doadora</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-toolbar"></div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Catalago.html">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Carrinho.html">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="../profile.html">Perfil</a></li>
                </ul>
            </div><button class="btn btn-primary" type="button">Sair</button>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Produto</h2>
                    <p>Cadastre aqui seu produto&nbsp;</p>
                </div>
                <form>
                    <div class="mb-3"><label class="form-label" for="name">Nome do produto</label><input class="form-control item" type="text" id="name" data-bs-theme="light"></div>
                    <div class="mb-3"><label class="form-label" for="password">Tipo</label><input class="form-control item" type="password" id="password" data-bs-theme="light"></div>
                    <div class="mb-3"><label class="form-label" for="email">QTD</label><input class="form-control item" type="email" id="email" data-bs-theme="light"></div><button class="btn btn-primary" type="submit">Cadastrar</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2024 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>